# Import CSV files to a postgres database

In [1]:
#import libraries
#conda install psycopg2
#pip install psycopg2

import os
import numpy as np
import pandas as pd
import psycopg2

In [2]:
#main 

from csv_import_functions import *

#settings
dataset_dir = 'datasets'

#db settings
host     = 'database-1-instance-1.cjyuw6c8el4p.us-west-1.rds.amazonaws.com'
dbname   = 'database-1'
user     = 'postgres'
password = 'ClassicSuds420!'

In [3]:


#configure environment and create main df
csv_files = csv_files()
configure_dataset_directory(csv_files, dataset_dir)
df = create_df(dataset_dir, csv_files)

for k in csv_files:

    #call dataframe
    dataframe = df[k]

    #clean table name
    tbl_name = clean_tbl_name(k)
    
    #clean column names
    col_str, dataframe.columns = clean_colname(dataframe)
    
    #upload data to db   
    upload_to_db(host, 
                 dbname, 
                 user, 
                 password, 
                 tbl_name, 
                 col_str, 
                 file=k, 
                 dataframe=dataframe, 
                 dataframe_columns=dataframe.columns)

UNdata_TradeGoods_Coffee&Tea.csv
UNdata_TradeGoods_Spices1.csv
UNdata_TradeGoods_Spices2.csv

OperationalError: could not connect to server: Connection timed out (0x0000274C/10060)
	Is the server running on host "database-1-instance-1.cjyuw6c8el4p.us-west-1.rds.amazonaws.com" (172.31.10.226) and accepting
	TCP/IP connections on port 5432?

In [ ]:
df